body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #05ada2;
    line-height: 1.6em;
}
.container{
    width: 90%;
    margin: auto;
    /*border: 3px solid red;*/
    padding: 20px;
    background-color: #ffffff;
    height: 100%;
    border-radius: 15px;
    min-height: 100px;
    overflow: auto;
}
h1{
    text-align: center;
}
.container div{
    border: 5px solid red;
}
@media screen and (min-width: 736px){
    .container{
        width: 90%;
        margin: auto;
        /*border: 3px solid red;*/
        padding: 20px;
        background-color: #ffffff;
        height: 100%;
        border-radius: 15px;
        min-height: 100px;
        overflow: auto;

        display: grid;
        grid-template-columns: repeat(1fr 500px 500px 1fr);
        grid-template-areas: 
        ". description description ."
        ". nameLabel nameInput ."
        ". emailLabel emailInput .";
    }
}